
/* Genel */
@font-face {
  font-family: 'Northwood High';
  src: url('fonts/Northwood High.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
}

.page-transition {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.page-transition.visible {
  opacity: 1;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* ← Sola logo, sağa "Giriş Yap" */
  padding: 20px 40px;
  border-bottom: 0px solid #eee;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-family: 'Northwood High', serif;
  text-transform: lowercase;
  font-size: 60px;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger svg {
  transition: transform 0.3s ease;
}
.hamburger:hover svg {
  transform: scale(1.1);
}
.hamburger svg rect {
  transition: all 0.4s ease;
}
.hamburger.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .line2 {
  opacity: 0;
}
.hamburger.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: #fff;
  box-shadow: 4px 0 10px rgba(0,0,0,0.2);
  transition: left 0.5s ease;
  z-index: 1000;
  padding: 60px 20px;
}
...
.lookbook {
  padding: 0 1px; /* üst-alt 0px, sağ-sol 1px */
}

.product-card h3,
.product-card p {
  text-align: left;
  font-family: 'Inter', sans-serif;
  padding: 4px 0;
}
